/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 10, 2017, 11:02:43 AM
    Author     : Hendrik
*/

@font-face {
    font-family: vaground;
    src: url(../fonts/VAGRoundedBT.ttf);
}
@font-face {
    font-family: frutigerrom;
    src: url(../fonts/FrutigerLTStd55Roman.ttf);
}

@font-face {
    font-family: frutigerbold;
    src: url(../fonts/FrutigerLTStd65Bold.ttf);
}
@font-face {
    font-family: frutigerlight;
    src: url(../fonts/FrutigerLTStd45Light.ttf);
}

* {
	margin:0;
	padding:0;
}
html {
	/*width: 1280px;*/
	height: 720px;
        font-size: 1rem;
} 
body { 
	background-image: url(tv:);
	margin-left:0;
	margin-top:0; 
	padding:0;
	font-family:frutigerrom;
	font-size:100%;
	line-height:1em;
	color:#0;
	text-align:center;
}
object {
	
	outline:none;
}
input, textarea, select {
	font-family:frutigerlight;
	font-size:1em;
	vertical-align:middle;
	font-weight:normal;
}
fieldset {
	border:0;
}
p {
	margin:0;
	padding:0;
}
img {
	border:0;
	vertical-align:top;
	text-align:left;
}
ul, ol {
	list-style:none;
}
p {
	line-height:1.43em;
}

/* TXT, LINKS, LINES, TITLES */
a {
	outline:none;
	text-decoration:none
}
a:hover {
	text-decoration:none
}
a:visited {
        text-decoration: none;
        color: white;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}