body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-pegawai {
  padding: 15px;
  margin: 0 auto;
}
.form-pegawai .form-pegawai-heading,
.form-pegawai .checkbox {
  margin-bottom: 10px;
}
.form-pegawai .checkbox {
  font-weight: normal;
}
.form-pegawai .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-pegawai .form-control:focus {
  z-index: 2;
}
.form-pegawai input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-pegawai input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  border: 1px solid #ddd;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}